/*===== GOOGLE FONTS =====*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");
:root{
  --header-height: 3rem;/*===(1rem sería igual a 16px )rem es una unidad relativa que facilita el responsive =====*/
  --font-semi: 600;
}

/*===== Colores =====*/ 
:root{/*===== pseudo-clase :root =====*/
  --first-color: #5546aa;
  --second-color: #0E2431;
}

/*===== Fuente y tipografia =====*/
:root{/*===== pseudo-clase :root =====*/
  --body-font: 'Poppins', sans-serif;
  --big-font-size: 2rem;
  --h2-font-size: 1.25rem;
  --normal-font-size: 0.938rem;
}
@media screen and (min-width: 768px){
  :root{/*===== pseudo-clase :root =====*/
    --big-font-size: 3.5rem;
    --h2-font-size: 2rem;
    --normal-font-size: 1rem;
  }
}

/*===== Margenes =====*/
:root{/*===== pseudo-clase :root =====*/
  --mb-1: 0.5rem;
  --mb-2: 1rem;
  --mb-3: 1.5rem;
  --mb-4: 2rem;
  --mb-5: 2.5rem;
  --mb-6: 3rem;
}

/*===== z index =====*/
:root{/*===== pseudo-clase :root =====*/
  --z-back: -10;
  --z-normal: 1;
  --z-tooltip: 10;
  --z-fixed: 100;
}

/*===== BASE =====*/
*,::before,::after{ /* pseudo clase :before  :after */
  box-sizing: border-box;
}
html{
  scroll-behavior: smooth;
}
body{
  margin: var(--header-height) 0 0 0;
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  color: var(--second-color);
}
h1,h2,p{
  margin: 0;
}

img{
  max-width: 100%;
  height: auto;
  display: block;
}

/*===== CLASS CSS ===== */
.section-title{
  position: relative;
  font-size: var(--h2-font-size);
  color: var(--first-color);
  margin-top: var(--mb-2);
  margin-bottom: var(--mb-4);
  text-align: center;
}
.section-title::after{ /* pseudo clase   :after */
  position: absolute;
  content: "";
  width: 64px;
  height: 0.18rem;
  left: 0;
  right: 0;
  margin: auto;
  top: 2rem;
  background-color: var(--first-color);
}
.section{
  padding-top: 3rem;
  padding-bottom: 2rem;
}

/*===== LAYOUT =====*/
.bd-grid{
  max-width: 1024px;
  display: grid;
  grid-template-columns: 100%;
  grid-column-gap: 2rem;
  width: calc(100% - 2rem);
  margin-left: var(--mb-2);
  margin-right: var(--mb-2);
}
.l-header{ /*===== menu =====*/
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: var(--z-fixed);
  background-color:black;
  box-shadow: 0 1px 4px rgba(146,161,176,.15);
}
ul{
    margin: 0;
    padding: 0;
    list-style: none;
  }
  a{
    text-decoration: none;
  }
  /*===== NAV =====*/
  .nav{
    height: var(--header-height);
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: var(--font-semi);
  }
  @media screen and (max-width: 768px){ /*===== responsive =====*/
    .nav__menu{
      position: fixed;
      top: var(--header-height);
      right: -100%;
      width: 80%;
      height: 100%;
      padding: 2rem;
      background-color: black;
      transition: .5s;
    }
  }
  .nav__item{
    margin-bottom: var(--mb-4);
  }
  .nav__link{
    position: relative;
    color: #fff;
  }
  .nav__link:hover{ /* pseudo clase hover   */
    position: relative;
  }
  .nav__link:hover::after{ /* pseudo clase hover mas :after */
    position: absolute;
    content: "";
    width: 100%;
    height: 0.18rem;
    left: 0;
    top: 2rem;
    background-color: var(--first-color);
  }
  .nav__logo{
    color: #F7EEE0;
  }
  .nav__toggle{
    color: #F7EEE0;
    font-size: 1.5rem;
    cursor: pointer;
  }
  
  /*Active menu*/
  .active::after{   /* pseudo clase :after */
    position: absolute;
    content: "";
    width: 100%;
    height: 0.18rem;
    left: 0;
    top: 2rem;
    background-color: var(--first-color);
  }
  
  /*=== Show menu ===*/
  .show{
    right: 0;
  }
  




/* ===== MEDIA QUERIES=====*/
@media screen and (min-width: 768px){
    body{
      margin: 0;
    }
    .section{
      padding-top: 4rem;
      padding-bottom: 3rem;
    }
    .section-title{
      margin-bottom: var(--mb-6);
    }
    
    .section-title::after{/* pseudo clase :after */
      width: 80px;
      top: 3rem;
    }
  
    .nav{
      height: calc(var(--header-height) + 1rem);
    }
    .nav__list{
      display: flex;
      padding-top: 0;
    }
    .nav__item{
      margin-left: var(--mb-6);
      margin-bottom: 0;
    }
    .nav__toggle{
      display: none;
    }
    .nav__link{
      color: #F7EEE0;
    }
  
    .home{
      height: 100vh;
    }
    .home__data{
      align-self: flex-end;
    }
    .home__social{
      padding-top: 0;
      padding-bottom: 2.5rem;
      flex-direction: row;
      align-self: flex-end;
    }
    .home__social-icon{
      margin-bottom: 0;
      margin-right: var(--mb-4);
    }
    .home__img{
      width: 457px;
      bottom: 15%;
    }
  
    .about__container, .skills__container{
      grid-template-columns: repeat(2,1fr);
      align-items: center;
      text-align: initial;
    }
    .about__img img{
      width: 300px;
    }
    .work__container{
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: repeat(2,1fr);
      column-gap: 2rem;
    }
    .contact__form{
      width: 360px;
    }
    .contact__container{
      justify-items: center;
    }
  }





/* ============= imagen principal =====*/
.abrazo{
    width: 100%;
    height: 30rem;
    filter: brightness(50%);/* ======== oopacidad de la imagen =====*/
}
.centros{
    position: absolute;
    top: 50%;
    left: 20rem;
    color: #F7EEE0;
    font-size: 45px;
    text-align: center;
    font-weight: var(--font-semi); 
}
.container{
    position: relative;
    text-align: center;
    color: #F7EEE0;
}

/* ===== FOOTER =====*/
.footer{
    background-color:black;
    color: #F7EEE0;
    text-align: center;
    font-weight: var(--font-semi);
    padding: 2rem 0;
  }
  .footer__title{
    font-size: 2rem;
    margin-bottom: var(--mb-4);
  }
  .footer__social{
    margin-bottom: var(--mb-4);
  }
  .footer__icon{
    font-size: 1.5rem;
    color: #fff;
    margin: 0 var(--mb-2)
  }
  @media screen and (min-width: 1024px){
    .bd-grid{
      margin-left: auto;
      margin-right: auto;
    }
    .home__img{
      right: 10%;
    }
  }










/* --- ------------------- CAROUSEL --- --- */
* {
	box-sizing: border-box;
}
  .contenedor {
    max-width: 1200px;
    width: 90%;
    margin: auto;
  }
  
  /* --- --- CONTENEDOR PRINCIPAL --- --- */
  
  .contenido-principal {
    margin-bottom: 50px;
    display: flex;
    align-items: center; 
  }
  
  .contenido-principal__imagen {
    vertical-align: top;
    margin-right: 20px;
    width: 50%;
    max-width: 550px;
  }
  .contenido-principal2{
    background-color: black;
    margin-bottom: 50px;
    display: flex;
    align-items: center; 
  }
  .contenido-principal3{
    background-color: rgb(222, 198, 255);
    margin-bottom: 50px;
    display: flex;
    align-items: center; 
  }
  
  .contenido-principal__contenedor {
    width: 50%;
  }
  
  .contenido-principal__titulo {
    font-weight: normal;
    font-size: 28px;
  }
  
  .contenido-principal__resumen {
    font-family: 'poppins', sans-serif;
    line-height: 30px;
    color: #070707;
  }
  .contenido-principal__resumen2{
    color: white;
  }
  /* --- ----------- CAROUSEL ----------- --- */
  

  
  @media screen and (max-width: 800px) {
    body {
      padding: 40px 0;
    }
  
    .contenido-principal {
      flex-direction: column;
    }
  
    .contenido-principal > * {
      width: 100%;
    }
  }


/* --- ----- numeros de ayuda  ------ --- */


.div4{

  padding-top: 140px;
  padding-left: 400px;

}

.div5{
  
  width: 100%;
  height: 100%;
  background-image: url("../images/hondas.jpg");
  background-size: 100% 100%;

}

.divflex{

  display: flex;

}

.div6{
  
  padding: 15px;
  margin-top: 80px;
  margin-left: 200px;
  margin-right: 200px;
  font-family: 'poppins', sans-serif;
  text-align: center;
  margin-bottom: 60px;

}

.p1{

  font-weight: bold;
  color: #FF5D5D;
  font-size: 30px;

}

.p2{

  font-size: 20px;
  text-align: justify;
    
}

.img1{

 height: 250px;
 width: 250px;
 border-top-right-radius: 40%;
 border-bottom-left-radius: 40%;
 border-top-left-radius: 40%;
 border-bottom-right-radius: 40%;
 margin-left: 43%;

}
.logo{

  height: 40px;
  width: 99px;
  margin-left: 0px ;
  margin-top: 5px;
  margin-right: 0px;
  cursor: pointer;
}
.section-title{
  position: relative;
  font-size: var(--h2-font-size);
  color: var(--first-color);
  margin-top: var(--mb-2);
  margin-bottom: var(--mb-4);
  text-align: center;
}
.texto{
  align-items: center;
  line-height: 30px;
  margin: 35px 35px;
}
.section-title-2{
  line-height: 60px;
  position: relative;
  font-size: var(--h2-font-size);
  color: var(--first-color);
  margin-top: var(--mb-2);
  margin-bottom: var(--mb-4);
  text-align: center;
}
.contenido-principal__resumen1 {
  font-family: 'poppins', sans-serif;
  line-height: 37px;
  color: #070707;
}
.imagenfinal{
  justify-content: center;
  display: flex;
}

/* Estilo Centros de ayuda */


.div3c{

  width: 100%;
  height: 400px;
  background-image: url("../../images/fondo2.jpg");
  font-size: 70px;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  background-size: 100% 100%;
  color: white;
}

.div4c{

  padding-top: 140px;
  margin-left: 270px;

}

.txt{

  text-align: center;
  font-family: 'poppins', sans-serif;
  font-size: 35px;
  font-weight: bold;
  color:  #FF5D5D;
  margin-top: 20px;

}

.bot{

  text-align: center;
  font-family: 'poppins', sans-serif;
  font-size: 20px;
  font-weight: bold;
  color: white;
  width: 150px;
  background-color: #5a2bd1;
  margin-top: 40px;
  margin-bottom: 80px;
  padding: 10px;
  margin-left: 43%;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-top-left-radius: 20px;
  border-bottom-right-radius: 20px;
  cursor: pointer;

}

.divmap{

  display: flex;
  height: 100%;
  width: 100%;

}

.map{

  height: 350px;
  width: 300px;
  background-color: black;
  margin-bottom: 30px;
  margin-left: 45px;
}

.mp{

margin-top: 15px;
margin-left: 24px;

}

.bot2{

  text-align: center;
  font-family: 'poppins', sans-serif;
  font-size: 15px;
  font-weight: bold;
  color: white;
  width: 75px;
  background-color: #5a2bd1;
  margin-top: 15px;
  margin-bottom: 80px;
  padding: 5px;
  margin-left: 36%;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-top-left-radius: 20px;
  border-bottom-right-radius: 20px;
  text-decoration: none;

}

.ub{

  color: white;
  text-align: center;
  font-family: 'poppins', sans-serif;
  font-size: 25px;
  margin-top: 10px;

}

.diva{

  height: 312px;
  width: 250px;
  margin-top: 100px;
  margin-left: 250px;
  background-image: url(" ../images/igualdad.jpg");
  background-size: 250px 250px;
  border-bottom-left-radius: 10px;
  border-top-left-radius: 10px;

}

.divc{

  display: flex;

}


.divb{

  background-color: white;
  height: 312px;
  width: 270px;
  margin-top: 100px;
  background-size: 250px 250px;
  border-bottom-right-radius: 10px;
  border-top-right-radius: 10px;

}


.divfok{

  margin-top: 15px;
  margin-left: 190px;
  border-radius: 100%;
  color: darkred;
  border: 4px solid darkred;
  height: 30px;
  width: 35px;
}

.loc{

  text-align: center;
  color: white;
  font-family: 'Roboto', sans-serif;
  font-size: 30px;
  font-weight: bold;
  margin-top: 140px;

}

.p3{

  text-align: center;
  color: white;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  font-size: 27px;
  color: #5a2bd1;

}

.p4{


  text-align:justify;
  color: white;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  font-size: 15px;
  color: black;
  margin-left: 20px;
  margin-right: 20px;

}


/* Modales */


.modalDialog {
  position: fixed;
  top: 0px;
  right: 0px;
  bottom: 0;
  left: 0px;
  z-index: 99999;
  opacity:0;
  background: rgba(0,0,0,0.8);
  pointer-events: none;
  -webkit-transition: opacity 400ms ease-in;
  -moz-transition: opacity 400ms ease-in;
  transition: opacity 400ms ease-in;
  display: flex;
}
.modalDialog:target {
  opacity:1;
  pointer-events: auto;
}


.close {

font-family: 'Nunito', sans-serif;
color: darkred;
font-weight: bold;
text-align: center;
text-decoration: none;
font-size: 20px;
margin-left: 12px;
}

.close:hover{

color: #AD2016;

}




 /*como ayudar*/

 .padre{
  width: 98%;
  margin: 20px auto;
    grid-gap: 20px; /*este coloca los espaciados pero solo entre contenidos pero no a ls bordes de la página*/
  font-family: Poppins;
  }
  
   .padre div {
  
  padding: 20px;
   }
  #imagenytitulo{
    height: 55vh;
      background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
      color:white;
      background-repeat: no-repeat;
   background-image: url('../images/ayudar.jpeg') ; 
    
  }
  .cuadro {
  display: flex;
  flex-direction: column; 
  align-items: center;
  }
  #acuarela{
    background-size: 100% 100%;
    display: flex;
    justify-content: center;
      align-items: center;
      width: 70%;
      height: 100px;
    background-image: url('../images/acuarela.jpeg'); 
    background-repeat: no-repeat;
      color: white;}
  
  
  /*estilos para las columnas*/
  #columnas{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    font-size: 13px;
    text-align: center;
  }
  #columnas h3 {
      top: 10px;
      left: 10px;
  }
  #columnas img {
    position: relative;
  }
  #columna_izquierda{
      display: grid;
      grid-template-rows: 1fr 1fr 1fr;
    
  }
  #columna_central{
    margin-top: 200px;
    display: grid;
      grid-template-rows: 1fr 1fr 1fr;
  
  
  }
  #columna_derecha{
    display: grid;
      grid-template-rows: 1fr 1fr 1fr;}
  /*estilos para los cuadros*/	
  
  #columna_central .cuadro{
    margin-top: 100px;
  }
  /*estilos para los responsivos*/
  @media screen and (min-width:801px) and (max-width:1025px) {
  
  }
  @media screen and (min-width:421px) and (max-width:800px) {
    
    #imagenytitulo{
    height: 55vh;
    display: flex;
    align-items: center;
    justify-content: center;
      color:white;
      background-repeat: no-repeat;
  ) ; 
  }
  }
  @media screen and (min-width:375px) and (max-width:420px){
    
  #columnas{
    display: grid;
    grid-template-columns: auto;
    font-size: 8px;
  }
  .padre{
  width: 98%;
  margin: 20px auto;
  grid-gap: 1px; /*este coloca los espaciados pero solo entre contenidos pero no a ls bordes de la página*/
  font-family: Poppins;
  }
  #columna_central{
    margin-top: 0px;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
  }	
  
  }
  @media screen and (min-width:200px) and (max-width:374px){
    #columnas{
    display: grid;
    grid-template-columns: auto;
    font-size: 8px;
  }
  .padre{
  width: 98%;
  margin: 20px auto;
  grid-gap: 1px; /*este coloca los espaciados pero solo entre contenidos pero no a ls bordes de la página*/
  font-family: Poppins;
  }
  #columna_central{
    margin-top: 0px;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
  }
  }


